p {
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 16px;
  line-height: 1.4;
  overflow-wrap: break-word;
  white-space: normal;

  @media (max-width: 991px) {
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 16px;
  }
}

.title {
  text-align: center;
}
