<section class="main">
  <div class="container-logo">
    <img class="img-logo" src="./../../../assets/img/logo-hit-branco.png" alt="Logo Hit Digital">
    <div class="container-button">
      <app-button-menu (valueEmitter)="receiveValueButton($event)"></app-button-menu>
    </div>

    <div class="container-title">
      <div class="title">
        <p>{{receiveValue ==='intro' ? 'Introdução': 'Contato'}}</p>
      </div>
      <img class="img-line" src="./../../../assets/img/divider.png" alt="Logo Hit Digital">
    </div>
  </div>


  <div class="main-container">
    <div class="main-box">
      <div @fadeInOut>
        <app-introducao *ngIf="receiveValue ==='intro'" @fadeInOut></app-introducao>
        <app-contato *ngIf="receiveValue ==='contact'" @fadeInOut></app-contato>

      </div>
    </div>
  </div>
</section>