.form-container {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  gap: 20px;
  @media (max-width: 430px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.input-field,
.textarea-field {
  padding: 14px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group .input-field {
  width: 100%;
  max-width: calc(50% - 10px);
  @media (max-width: 430px) {
    max-width: calc(95% - 10px);
    width: 95%;
  }
}

.textarea-field {
  height: 150px;
}

.submit-button {
  padding: 10px 0;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  width: 150px;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  background-color: #555;
}
